body,ul,li,p{
 margin: 0px;
 padding:0px;
 list-style: none;
 font-size: 1.2rem;
 font-family: Arial, Helvetica, sans-serif;
}
 
.pesquisa {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 20px;
}

input[type=text] {
  padding: 10px;
  border: none;
  font-size: 17px;
}

button[type=submit] {
  background-color: #ddd;
  border: none;
  cursor: pointer;
}

button[type=submit]:hover {
  background-color: #ccc;
}

.fa-search {
  font-size: 20px;
}
.packages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px 0;
}

.package {
  width: 30%;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.package img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.package-title {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}

.package-description {
  font-size: 14px;
  margin: 10px;
}

.package-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.package-price {
  font-size: 18px;
  font-weight: bold;
}

.btn {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
}

.btn-primary:hover {
  background-color: #fafcfdcb;
}
a {
  text-decoration:none;
  color:white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 body{
  background-color: rgba(235, 237, 241, 0.808);
 }

 p,h1,h2{
  font-family: Verdana, Geneva, Tahoma, sans-serif
 }
 h1{
  text-align: center;
  margin-top: 100px;
 }
 h2{
  text-align: center;
  margin-top:180px;
 }
 p{
  text-align: center;
  margin: top 120px;;
 }
 .headerr {
  width: 100%;
  height: 5cm;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
}

.headerr img {
  width: 100%;
  height: 170%;
  object-fit: cover;
}

.headerr-text {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  text-align: center;
  padding: 0.5em;
  color: #fff;
}

.header{
 background:#1d1e20;
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 align-items: center;
 padding: 20px
}
img{
  max-width:100%;
  display:block;
}
#img-1{
   border-radius: 2px;
   border: 5px solid #fff;
   box-shadow: 0 1px rgba(0, 0, 0, 0.1);
    transition: all  0.6S  cubic-bezier(0.165, 0.84, 0.44, 1);
}

#img-1:hover{
  transform: scale(1.25,1.25);
}
.menu {
display:flex;
}

.menu li{
margin-left: 20px;
}
.menu li a{
display: block;
padding: 3px;
}
.flex{
display: flex;
flex-wrap: wrap;
max-width: 800px;
margin: 0 auto;
margin-top: 150px;
}
.flex > div {
  flex: 1 1 200px;
  margin: 10px;
}

.hotel-offers {
  background-color: #f6f6f6;
  padding: 50px;
}

.hotel-offers h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
}

.hotel-offers p {
  font-size: 18px;
  margin-bottom: 50px;
}

.hotel-offers ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hotel-offers li {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.hotel-offers .hotel-image {
  width: 200px;
  margin-right: 30px;
}

.hotel-offers .hotel-image img {
  width: 100%;
}

.hotel-offers .hotel-info {
  flex-grow: 1;
}

.hotel-offers .hotel-info h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
}

.hotel-offers .hotel-info .hotel-rating {
  display: inline-block;
  background-color: #f8d04d;
  color: #333;
  padding: 5px 10px
 }

 .promo-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
}

.promo-image img {
  width: 100%;
  height: auto;
}

.promo-info {
  flex-grow: 1;
  margin-left: 20px;
}

.promo-info h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.promo-info p {
  font-size: 18px;
  margin-bottom: 20px;
}

.promo-link {
  display: inline-block;
  background-color: #2f4f4f;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.promo-link:hover {
  background-color: #556b2f;
}
footer {
  background-color: #f8f8f8;
  color: #555;
  font-size: 14px;
  padding: 30px 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-6, .col-md-3 {
  padding: 0 15px;
}

h4 {
  margin-bottom: 20px;
  font-weight: bold;
}

ul li {
  margin-bottom: 10px;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.fa {
  color: #888;
  font-size: 20px;
}

.fa:hover {
  color: #333;
}

